@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TDMT_DOAN.Models.ResetPasswordViewModel

<div class="center_content">
    <section class="container_login">
        <div class="login">
            <h1>Quên mật khẩu</h1>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                @Html.AntiForgeryToken()

                @Html.TextBoxFor(model => model.PasswordOld, new { @class = "form-control", @placeholder = "Mật khẩu cũ", @type = "password", @required = "required" })
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Mật khẩu", @type = "password", @required = "required" })
                @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu", @type = "password", @required = "required" })

                <p class="submit_login"><input type="submit" name="commit" value="Change Password"></p>
            }
        </div>
    </section>
